/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body{
	background:url("../img/ellipse-1-copy.png")  50% 130px no-repeat, #e8e8e8	;}
	
	
.content{
	padding: 168px 0px 137px 0px;
	max-width: 841px;
	margin: 0px auto;
}
.content-top{
	text-align: center;
	margin: 0px 0px 65px 0px;

}
.content-top__category{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
    letter-spacing: 2.8px;
	color: rgba( 39, 61, 70, 0.6);
	text-transform: uppercase;
	margin: 0px 0px 15px 0px;
	
}
.content-top__title{
	color: #273d46;
	line-height: 50px;
	font-size: 36px;
	max-width: 725px;
	margin: 0px auto;

}
.content__image{
	box-shadow: 0px 15px 65px 0 rgba(15, 16, 16, 0.15);
	background-color: #fff;
	padding: 10px;
	margin: 0px 0px 85px 0px;
}

.content__image img{
	max-width: 100%;
}

.content-bottom{
	margin: 0px 45px  ;
}
.content-bottom__text{
	font-size: 24px;
	line-height: 40px;
	color: rgba(39, 61, 70, 0.8);
	margin: 0px 0px 47px 0px ;
}
.content-bottom__text p{
	margin: 0px 0px 40px 0px;
}
.content-bottom__text p:last-child{
	margin: 0;
}



.content-bottom-info__list{
	margin: 0px 0px 59px 0px;
}
.content-bottom-info__list li{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 20px;
	margin: 0px 0px 15px 0px;
	background: url(../img/check-icon.png) left no-repeat;
	padding: 0px 0px 0px 35px;
}
.content-bottom-info__list li:last-child{
	margin: 0px;
}

.content-bottom-info__list li:nth-child(1){
	text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.3);
	color: #273d46;
}

.content-bottom-info__list li:nth-child(2){
	color: #80b7b3;
	font-style: italic;
}

.content-bottom-info__list li:nth-child(3){
	color: #273d46;
	font-weight: 700;

}

.content-bottom-info__list li:nth-child(4){
	color: rgba(39, 61, 70, 0.3);
	text-decoration: line-through;
}



.content-bottom-info__link{
	display: inline-block;
	-webkit-box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 5px 1px rgba(0, 0, 0,0.5);
	height: 44px;
	border-radius: 25px;
	line-height: 44px;
	padding: 0px 30px;
	background-color: #80b7b3;
	text-transform: uppercase;
	letter-spacing: 2.8px;
	color: #fff;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}
.content-bottom-info__link span{
	padding: 0px 30px 0px 0px;
	background: url(../img/shape-2.svg) right no-repeat;

}
.content-bottom-info__link:hover{
	background-color: red;
}
.content-bottom-info__link:active{
	position: relative;
	top: 5px;
	-webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 2px 1px rgba(0, 0, 0,0.5);
}